version: "3"
services:
    backend:
        build: ./backend/
        ports:
            - "8000:8000"
        volumes:
            - "./backend:/usr/src/app"
        working_dir: "/usr/src/app"
        container_name: "backend"
        env_file:
            - ./env/back.env
            - ./env/db.env
        depends_on:
            - db
        command: sleep infinity
    db:
        image: postgres:12.1-alpine
        ports:
            - "5432:5432"
        hostname: db
        container_name: db
        volumes:
            - postgres_data:/var/lib/postgresql/postgres_data
        env_file:
            - ./env/db.env
volumes:
    postgres_data:
