version: 2.1

executors:
  backend-executor:
    docker:
      - image: circleci/python:3.9.0
        environment:
          PYTHONBUFFERED: 1
          SECRET_KEY: SECRET_KEY
          DATABASE_ENGINE: django.db.backends.postgresql
          DATABASE_HOST: db
          DATABASE_PORT: 5432
          POSTGRES_USER: dbuser
          POSTGRES_PASSWORD: dbpassword
          POSTGRES_DB: postgreDB
      - image: circleci/postgres:ostgres:9.6.2
        environment:
          POSTGRES_USER: dbuser
          POSTGRES_PASSWORD: dbpassword
          POSTGRES_DB: postgreDB

commands:
  save_python_package:
    description: "pip install して package をキャッシュ"
    steps:
      - save_cache:
          name: Save python package
          key: deps-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - /usr/local/bin
            - /usr/local/lib/python3.9/site-packages
  restore_python_package:
    description: "package キャッシュを読み込む"
    steps:
      - restore_cache:
          name: Restore Python package
          keys: deps-{{ .Branch }}-{{ checksum "requirements.txt" }}
  pip_install:
    description: "pip install を実行"
    steps:
      - run:
          name: pip install
          command: pip3 install -r requirements.txt

jobs:
  build:
    executor: backend-executor
    steps:
    - checkout
    - run: sudo chown -R circleci:circleci /usr/local/bin
    - run: sudo chown -R circleci:circleci /usr/local/lib/python3.9/site-packages
    - restore_python_package
    - pip_install
    - save_python_package
    - run: python manage.py test
    - store_test_results:
        path: test-results
    - store_artifacts:
        path: test-reports/

workflow:
  version: 2.1
  backend-test:
    jobs:
    - build
